# Ambiente virtual
venv/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Configurações locais
.vscode/
.env

# Dados grandes ou processados
data/raw/*
data/processed/*

# Manter as pastas no Git
!data/raw/.gitkeep
!data/processed/.gitkeep